/****** 
  1. Reset CSS
  2. Header
  3. Main
    3.1: banner
    3.2: product
    3.3: work  
  4. Footer
  5. keyframes
  6. Responsive
******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.4;
  color: #000;
}

h1 {
  font-size: 76px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

p {
  line-height: 1.8;
  transition: 0.4s;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
}

li {
  list-style-type: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  height: 54px;
  padding: 14px 35px;
  line-height: 26px;
  font-weight: 500;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: #fff;
}

.main__wrap {
  overflow: hidden;
}

.pre__loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 20000000000;
  overflow-x: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pre__loader img {
  max-width: 100px;
}

.img__subtitle {
  display: inline;
  margin: 0 10px 0 0;
}

.menu_bars_overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333;
  z-index: 9;
  opacity: 0.5;
}

.subtitle {
  color: #015C3B;
  display: inline-block;
  font-weight: 500;
  margin: 0 0 10px;
  position: relative;
  z-index: 1;
  line-height: 1;
}

.body__overlay {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.body__overlay.open {
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  font-size: 24px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: none;
  position: fixed;
  bottom: 230px;
  right: 20px;
  z-index: 999;
  border-radius: 5px;
  background: #024E32;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
  animation: float 1500ms infinite ease-in-out;
}
.back-to-top.open {
  bottom: 30px;
}

/****** Header ******/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  transition: 0.4s;
  background-color: #fff;
}
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999999;
  animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
  transition: all 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-color: #fff;
}
.header .container {
  display: flex;
}
.header .container .header__menu {
  width: 41.6666666667%;
  display: flex;
  position: relative;
  z-index: 9999999999;
}
.header .container .header__menu .menu__btn {
  display: none;
}
.header .container .header__menu .header__menu-items {
  line-height: 85px;
  margin-right: 28px;
  position: relative;
}
.header .container .header__menu .header__menu-items:hover .header__submenu {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg);
}
.header .container .header__menu .header__menu-items .menu__items-content {
  position: relative;
  font-weight: 500;
  line-height: 25.5px;
  white-space: nowrap;
}
.header .container .header__menu .header__menu-items .menu__items-content svg {
  font-size: 10px;
}
.header .container .header__menu .header__menu-items .menu__items-content:hover {
  color: #D4AD19;
}
.header .container .header__menu .header__menu-items .menu__items-content:hover svg {
  transform: rotate(180deg);
  transition: all 0.4s ease-in-out;
}
.header .container .header__menu .header__menu-items .header__submenu {
  width: 265px;
  padding: 12px 0;
  visibility: hidden;
  position: absolute;
  border: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  left: -23px;
  transform: rotateX(-75deg);
  transition: 0.3s;
  transform-style: preserve-3d;
  transform-origin: 0% 0%;
  opacity: 0;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items {
  position: relative;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .submenu__items-content {
  font-weight: 500;
  line-height: 25.5px;
  position: relative;
  display: block;
  padding: 10px 20px;
  transition: all 0.4s ease;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .submenu__items-content:hover {
  color: #D4AD19;
  left: 0;
  right: auto;
  padding-left: 30px;
  transition: all 0.4s ease;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .submenu__items-content:hover:before {
  height: 16px;
  visibility: visible;
  opacity: 1;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .submenu__items-content svg {
  font-size: 10px;
  position: absolute;
  right: 15px;
  top: 40%;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .submenu__items-content:before {
  position: absolute;
  top: 50%;
  left: 20px;
  content: "";
  width: 2px;
  height: 0%;
  background-color: #DCBE4A;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: 0.4s;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .submenu__items-content.first__item:before {
  visibility: visible;
  opacity: 1;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .header__submenu2 {
  display: none;
  width: 265px;
  padding: 12px 0;
  display: none;
  position: absolute;
  border: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  left: 250px;
  top: 0;
  padding: 12px 0;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .header__submenu2 .header__submenu2-items .submenu2__items-content {
  font-weight: 500;
  line-height: 25.5px;
  position: relative;
  display: block;
  padding: 10px 20px;
  transition: all 0.4s ease;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .header__submenu2 .header__submenu2-items .submenu2__items-content:hover {
  color: #D4AD19;
  left: 0;
  right: auto;
  padding-left: 30px;
  transition: all 0.4s ease;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .header__submenu2 .header__submenu2-items .submenu2__items-content:hover:before {
  height: 16px;
  visibility: visible;
  opacity: 1;
}
.header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .header__submenu2 .header__submenu2-items .submenu2__items-content:before {
  position: absolute;
  top: 50%;
  left: 20px;
  content: "";
  width: 2px;
  height: 0%;
  background-color: #DCBE4A;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: 0.4s;
}
.header .container .header__menu .header__menu-items .header__submenu > li:hover .header__submenu2 {
  display: block;
}
.header .container .header__menu .header__menu-items .active {
  color: #D4AD19;
}
.header .container .header__menu > li:hover .header__submenu {
  display: block;
}
.header .container .header__logo {
  width: 16.6666666667%;
}
.header .container .header__logo img {
  display: block;
  margin: 15px auto;
}
.header .container .header__right {
  width: 41.6666666667%;
  display: flex;
  justify-content: flex-end;
}
.header .container .header__right .header__search {
  display: flex;
  align-items: center;
  color: #000;
  margin-left: 30px;
  cursor: pointer;
}
.header .container .header__right .header__search svg {
  font-size: 24px;
}
.header .container .header__right .header__cart {
  display: flex;
  align-items: center;
  color: #000;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
}
.header .container .header__right .header__cart svg {
  font-size: 24px;
}
.header .container .header__right .header__cart span {
  position: absolute;
  top: 24px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FF3838;
  text-align: center;
  line-height: 20px;
  color: #000;
  font-size: 12px;
}
.header .container .header__right .search-area {
  background-color: #fff;
  right: 240px;
  border-radius: 0 5px 5px 5px;
  position: absolute;
  top: 80px;
  padding: 15px 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 320px;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.header .container .header__right .search-area.open {
  visibility: visible;
  opacity: 1;
  top: 80px;
}
.header .container .header__right .search-area input {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 58px;
  padding: 15px 15px;
}
.header .container .header__right .search-area button {
  position: absolute;
  top: 35px;
  right: 22px;
  border: none;
  background-color: transparent;
}
.header .container .header__right .search-area button svg {
  font-size: 24px;
}
.header .container .header__right .header__btn {
  margin-left: 30px;
  margin-top: 15.5px;
  margin-right: 60px;
  position: relative;
  z-index: 1;
}
.header .container .header__right .header__btn:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
}
.header .container .header__right .header__btn:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(-90deg, #A8DC51 0%, #4CA754 99.88%);
}
.header .container .header__right .header__btn:hover:after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}
.header .container .header__right .menu__bars {
  display: none;
}

/****** Main ******/
.main {
  padding-top: 85px;
  /****** Banner ******/
  /****** Dispensary ******/
  /****** Introduction ******/
  /****** Performance ******/
  /****** Counter ******/
  /****** Team ******/
  /****** Testimonials ******/
  /****** Recetional ******/
}
.main .main__banner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 120px 0;
  overflow: hidden;
  background: url("../images/bg_banner_about.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .main__banner .container .banner__title {
  font-weight: 600;
  margin: 0 0 15px;
}
.main .main__banner .container .banner__menu {
  display: flex;
}
.main .main__banner .container .banner__menu li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  color: #666666;
  font-weight: 500;
}
.main .main__banner .container .banner__menu li a {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  padding-right: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  position: relative;
  color: #666666;
}
.main .main__banner .container .banner__menu li a:after {
  position: absolute;
  top: 12px;
  right: -12px;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #024E32;
}
.main .main__banner .container .banner__menu li a:hover {
  color: #024E32;
}
.main .main__banner .container .banner__menu li:last-child {
  color: #024E32;
}
.main .main__dispensary {
  padding: 100px 0;
}
.main .main__dispensary .container .wrap__dispensary {
  display: flex;
  margin: 0 -24px;
}
.main .main__dispensary .container .wrap__dispensary .main__dispensary-left {
  width: 50%;
  padding: 0 24px;
}
.main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img {
  z-index: 1;
  position: relative;
}
.main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img .dispensary__shape {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: -100;
  width: 100%;
}
.main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img .dispensary__shape .bounce {
  animation: float 1500ms infinite ease-in-out;
}
.main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img .discount__price {
  position: absolute;
  top: 120px;
  right: 0px;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  background-color: #024E32;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
  z-index: 10;
}
.main .main__dispensary .container .wrap__dispensary .main__dispensary-right {
  width: 50%;
  padding: 0 24px;
  margin: auto;
}
.main .main__dispensary .container .wrap__dispensary .main__dispensary-right .dispensary__subtxt {
  margin: 15px 0;
}
.main .main__intro {
  padding-bottom: 75px;
}
.main .main__intro .container .intro__subtitle {
  display: flex;
  justify-content: center;
}
.main .main__intro .container .intro__title {
  color: #000;
  padding-bottom: 20px;
  text-align: center;
}
.main .main__intro .container .intro__content {
  width: 100%;
  display: flex;
}
.main .main__intro .container .intro__content .intro__content-box {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  height: auto;
  padding: 25px;
  position: relative;
  margin: 15px 10px;
}
.main .main__intro .container .intro__content .intro__content-box .count__num {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 80px;
  color: #DCBE4A;
  opacity: 0.2;
  line-height: 1;
}
.main .main__intro .container .intro__content .intro__content-box .content__box-icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: rgba(2, 78, 50, 0.07);
  text-align: center;
  margin: 0 0 18px;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main .main__intro .container .intro__content .intro__content-box .content__box-icon svg {
  font-size: 34px;
  color: #024E32;
  transition: 0.4s;
  margin-top: 14px;
}
.main .main__intro .container .intro__content .intro__content-box .content__box-info .box__info-title {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  line-height: 33.6px;
}
.main .main__intro .container .intro__content .intro__content-box .content__box-info .box__info-txt {
  padding-top: 12px;
}
.main .main__intro .container .intro__content .intro__content-box:hover {
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}
.main .main__intro .container .intro__content .intro__content-box:hover .content__box-icon {
  background-color: #024E32;
}
.main .main__intro .container .intro__content .intro__content-box:hover .content__box-icon svg {
  color: #fff;
}
.main .main__performance {
  padding-bottom: 100px;
}
.main .main__performance .container .wrap__performance {
  display: flex;
  margin: 0 -24px;
}
.main .main__performance .container .wrap__performance .main__performance-left {
  width: 50%;
  padding: 0 24px;
}
.main .main__performance .container .wrap__performance .main__performance-left .performance__subtitle {
  color: #666666;
}
.main .main__performance .container .wrap__performance .main__performance-left .performance__txt {
  margin: 12px 0 30px 0;
}
.main .main__performance .container .wrap__performance .main__performance-left .progressbar__wrap .progress__bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
  margin: 0 0 25px;
  overflow: hidden;
  background: transparent;
}
.main .main__performance .container .wrap__performance .main__performance-left .progressbar__wrap .progress__bar:last-child {
  margin-bottom: 0;
}
.main .main__performance .container .wrap__performance .main__performance-left .progressbar__wrap .progress__bar .progress__title-holder {
  position: relative;
  margin: 0 0 12px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}
.main .main__performance .container .wrap__performance .main__performance-left .progressbar__wrap .progress__bar .progress__title-holder .progress__title {
  z-index: 100;
  font-weight: 600;
  margin: 0;
}
.main .main__performance .container .wrap__performance .main__performance-left .progressbar__wrap .progress__bar .progress__title-holder .progress__number-wrapper {
  width: 100%;
  z-index: 10;
}
.main .main__performance .container .wrap__performance .main__performance-left .progressbar__wrap .progress__bar .progress__title-holder .progress__number-wrapper .progress__number-mark {
  margin-bottom: 0;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  transform: translateX(-100%);
}
.main .main__performance .container .wrap__performance .main__performance-left .progressbar__wrap .progress__bar .progress__title-holder .progress__number-wrapper .progress__number-mark .percent {
  font-weight: 600;
  position: relative;
  color: #024E32;
}
.main .main__performance .container .wrap__performance .main__performance-left .progressbar__wrap .progress__bar .progress__content-outer {
  height: 3px;
  background-color: #F3F4F6;
}
.main .main__performance .container .wrap__performance .main__performance-left .progressbar__wrap .progress__bar .progress__content-outer .progress__content {
  height: 3px;
  background-color: #024E32;
  width: 0;
}
.main .main__performance .container .wrap__performance .main__performance-right {
  width: 50%;
  padding: 0 24px;
}
.main .main__counter {
  padding: 100px 0;
  position: relative;
  z-index: 1;
}
.main .main__counter .main__counter-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-color: #024E32;
  z-index: -1;
}
.main .main__counter .main__counter-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main .main__counter .container .counter__wrap {
  display: flex;
  padding-bottom: 75px;
}
.main .main__counter .container .counter__wrap .counter__item {
  width: 25%;
  position: relative;
  margin-bottom: 25px;
  text-align: center;
}
.main .main__counter .container .counter__wrap .counter__item .counter__text {
  text-align: center;
}
.main .main__counter .container .counter__wrap .counter__item .counter__text .counter__num {
  font-size: 58px;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 10px;
  color: #DCBE4A;
}
.main .main__counter .container .counter__wrap .counter__item .counter__text .counter__num .odometer {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 1;
}
.main .main__counter .container .counter__wrap .counter__item .counter__text p {
  margin-bottom: 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 60px;
  line-height: 1.5;
}
.main .main__counter .container .video__wrap {
  height: 610px;
  position: relative;
  background-image: url(../images/counter_video.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .main__counter .container .video__wrap .play__now {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-color: #DCBE4A;
  font-size: 40px;
  line-height: 99px;
  text-align: center;
  color: #fff;
  z-index: 1;
  padding-left: 5px;
  display: block;
  transform-origin: center center;
  border-radius: 50%;
  margin: 0 auto;
  border: none;
}
.main .main__counter .container .video__wrap .play__now:hover svg {
  color: #000;
}
.main .main__counter .container .video__wrap .play__now .ripple {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff;
  animation: ripple 3s infinite;
}
.main .main__counter .container .video__wrap .play__now .ripple:before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff;
  animation: ripple 3s 0.9s infinite;
}
.main .main__counter .container .video__wrap .play__now .ripple:after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center center;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff;
  animation: ripple 3s 0.6s infinite;
}
.main .main__team {
  padding-bottom: 75px;
}
.main .main__team .container .team__subtitle {
  display: flex;
  justify-content: center;
}
.main .main__team .container .team__title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.main .main__team .container .team__slider .team__box .team__img {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}
.main .main__team .container .team__slider .team__box .team__img .social__profile {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 210px;
  text-align: center;
  z-index: 10;
  background: rgba(2, 78, 50, 0.25);
  padding: 15px;
  border-radius: 8px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.4s;
  opacity: 0;
  transform: translateX(-50%);
}
.main .main__team .container .team__slider .team__box .team__img .social__profile li {
  display: inline-block;
  margin: 0 3px;
  transform: translateY(25px);
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
}
.main .main__team .container .team__slider .team__box .team__img .social__profile li:nth-child(1) {
  transition-delay: 0.2s;
}
.main .main__team .container .team__slider .team__box .team__img .social__profile li:nth-child(2) {
  transition-delay: 0.3s;
}
.main .main__team .container .team__slider .team__box .team__img .social__profile li:nth-child(3) {
  transition-delay: 0.4s;
}
.main .main__team .container .team__slider .team__box .team__img .social__profile li:nth-child(4) {
  transition-delay: 0.5s;
}
.main .main__team .container .team__slider .team__box .team__img .social__profile li a {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  background-color: #fff;
  display: inline-block;
}
.main .main__team .container .team__slider .team__box .team__img .social__profile li a:hover {
  transform: translateY(-3px);
  background-color: #024E32;
}
.main .main__team .container .team__slider .team__box .team__img .social__profile li a:hover svg {
  color: #fff;
}
.main .main__team .container .team__slider .team__box .team__img .social__profile li a svg {
  color: #024E32;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
}
.main .main__team .container .team__slider .team__box .team__info {
  padding: 22px 25px 0;
  text-align: center;
}
.main .main__team .container .team__slider .team__box .team__info h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.main .main__team .container .team__slider .team__box .team__info span {
  color: #666666;
}
.main .main__team .container .team__slider .team__box:hover .social__profile {
  visibility: visible;
  opacity: 1;
}
.main .main__team .container .team__slider .team__box:hover .social__profile li {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.main .main__team .container .team__slider .owl-nav button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(2, 78, 50, 0.1);
  transition: all 0.4s ease-in-out;
}
.main .main__team .container .team__slider .owl-nav button svg {
  font-size: 20px;
  line-height: 0.8;
  display: inline-block;
  position: relative;
  top: 1px;
  color: #666666;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}
.main .main__team .container .team__slider .owl-nav button:hover {
  background-color: #DCBE4A;
}
.main .main__team .container .team__slider .owl-nav button:hover svg {
  color: #fff;
}
.main .main__team .container .team__slider .owl-nav .owl-prev {
  position: absolute;
  transform: translateY(-50%);
  top: 40%;
  left: -5%;
}
.main .main__team .container .team__slider .owl-nav .owl-next {
  position: absolute;
  transform: translateY(-50%);
  top: 40%;
  right: -5%;
}
.main .main__testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f9f9f9;
}
.main .main__testimonials .testimonials__subtitle {
  display: flex;
  justify-content: center;
}
.main .main__testimonials .testimonials__title {
  color: #000;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.main .main__testimonials .container .testimonials__content .testimonials__box {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 0 25px;
  position: relative;
  z-index: 1;
  padding: 25px;
}
.main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-txt {
  margin-bottom: 20px;
}
.main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap {
  display: flex;
}
.main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap .box__img {
  width: 65px;
  height: 65px;
}
.main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap .box__img img {
  border-radius: 50%;
}
.main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap .box__info {
  margin-left: 20px;
}
.main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap .box__info h3 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 8px;
  transition: 0.4s;
  color: #000;
}
.main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap .box__info span {
  font-size: 14px;
}
.main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap .box__icon {
  margin-left: auto;
}
.main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap .box__icon svg {
  display: inline-block;
  position: relative;
  top: 3px;
  font-size: 50px;
  line-height: 0.8;
  color: #024E32;
  opacity: 0.4;
}
.main .main__testimonials .container .testimonials__content .owl-dots {
  margin-top: 20px;
}
.main .main__testimonials .container .testimonials__content .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 6px;
  position: relative;
  bottom: -5px;
}
.main .main__testimonials .container .testimonials__content .owl-dots .owl-dot.active {
  width: 32px;
  background-color: #DCBE4A;
  border-radius: 50px;
}
.main .main__testimonials .container .testimonials__content .owl-dots .owl-dot.active span {
  background: none;
}
.main .main__testimonials .container .testimonials__content .owl-dots .owl-dot span {
  width: 20px;
  height: 10px;
  background-color: rgba(2, 78, 50, 0.1);
  margin: 0;
}
.main .main__recetional {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  position: relative;
  z-index: 1;
}
.main .main__recetional .recetional__img-left {
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
.main .main__recetional .recetional__img-right {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.main .main__recetional .container {
  display: flex;
}
.main .main__recetional .container .main__recetional-left {
  width: 50%;
}
.main .main__recetional .container .main__recetional-right {
  width: 50%;
  padding-right: 24px;
  padding-left: 50px;
  margin: auto;
}
.main .main__recetional .container .main__recetional-right .recetional__right-title {
  color: #000;
  text-transform: capitalize;
}
.main .main__recetional .container .main__recetional-right .recetional__right-subtxt {
  font-weight: 500;
  margin: 15px 0 15px;
  line-height: 1.4;
  color: #000;
}
.main .main__recetional .container .main__recetional-right .recetional__right-txt {
  line-height: 1.8;
  margin-bottom: 50px;
}
.main .main__recetional .container .main__recetional-right .recetional__right-btn {
  position: relative;
  z-index: 1;
}
.main .main__recetional .container .main__recetional-right .recetional__right-btn:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
}
.main .main__recetional .container .main__recetional-right .recetional__right-btn:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 0;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(-90deg, #A8DC51 0%, #4CA754 99.88%);
}
.main .main__recetional .container .main__recetional-right .recetional__right-btn:hover:after {
  width: 100%;
  visibility: visible;
  opacity: 1;
}

/****** Footer ******/
.footer {
  position: relative;
  background-color: #024E32;
  z-index: 1;
  overflow: hidden;
}
.footer h3 {
  font-size: 24px;
}
.footer a {
  font-size: 14px;
}
.footer .footer__shape1 {
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}
.footer .footer__shape2 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  animation: moveVertical 3000ms infinite ease-in-out;
}
.footer .footer__shape3 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 30%;
  transform: translateX(-50%);
  animation: moveHorizontal 3000ms infinite ease-in-out;
}
.footer .footer__shape4 {
  position: absolute;
  z-index: -1;
  top: 65%;
  left: 70%;
  animation: animationFramesTwo 20000ms infinite ease-in-out;
}
.footer .container {
  z-index: 2;
}
.footer .container .footer__content {
  display: flex;
  width: 100%;
  padding-bottom: 75px;
  padding-top: 100px;
}
.footer .container .footer__content .footer__widget {
  width: 33.3333333333%;
  margin-bottom: 25px;
  padding: 0 12px;
}
.footer .container .footer__content .footer__widget .footer__logo img {
  margin: 0;
}
.footer .container .footer__content .footer__widget .footer__logo-txt {
  color: rgba(255, 255, 255, 0.8);
  margin: 26px 0 25px;
}
.footer .container .footer__content .footer__widget .footer__logo-social {
  display: flex;
}
.footer .container .footer__content .footer__widget .footer__logo-social li {
  margin-right: 16px;
}
.footer .container .footer__content .footer__widget .footer__logo-social li a {
  color: #fff;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  border: 1px solid transparent;
  width: 32px;
  height: 32px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.footer .container .footer__content .footer__widget .footer__logo-social li a:hover {
  transform: translateY(-2px);
  background-color: #fff;
  border-color: transparent;
}
.footer .container .footer__content .footer__widget .footer__logo-social li a:hover svg {
  color: #024E32;
}
.footer .container .footer__content .footer__widget .footer__logo-social li a svg {
  color: #DCBE4A;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  line-height: 0.8;
}
.footer .container .footer__content .footer__links {
  width: 16.6666666667%;
  padding: 0 12px;
  margin-bottom: 25px;
}
.footer .container .footer__content .footer__links .footer__title {
  position: relative;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 20px;
  line-height: 1.4;
}
.footer .container .footer__content .footer__links .footer__title:before {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 90px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}
.footer .container .footer__content .footer__links .footer__title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #DCBE4A;
}
.footer .container .footer__content .footer__links .footer__menu-list .menu__list-item {
  margin-bottom: 15px;
}
.footer .container .footer__content .footer__links .footer__menu-list .menu__list-item a {
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding-left: 18px;
  transition: all 0.3s ease;
  line-height: 24px;
}
.footer .container .footer__content .footer__links .footer__menu-list .menu__list-item a:after {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  transition: 0.4s;
}
.footer .container .footer__content .footer__links .footer__menu-list .menu__list-item a:hover {
  color: #DCBE4A;
  padding-left: 22px;
}
.footer .container .footer__content .footer__links .footer__menu-list .menu__list-item a:hover:after {
  background-color: #DCBE4A;
}
.footer .container .footer__content .footer__explore {
  width: 25%;
  padding: 0 12px;
  padding-left: 48px;
}
.footer .container .footer__content .footer__explore .footer__title {
  position: relative;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 20px;
  line-height: 1.4;
}
.footer .container .footer__content .footer__explore .footer__title:before {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 90px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}
.footer .container .footer__content .footer__explore .footer__title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #DCBE4A;
}
.footer .container .footer__content .footer__explore .footer__menu-list .menu__list-item {
  margin-bottom: 15px;
}
.footer .container .footer__content .footer__explore .footer__menu-list .menu__list-item a {
  color: rgba(255, 255, 255, 0.8);
  position: relative;
  padding-left: 18px;
  transition: all 0.3s ease;
  line-height: 24px;
}
.footer .container .footer__content .footer__explore .footer__menu-list .menu__list-item a:after {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  transition: 0.4s;
}
.footer .container .footer__content .footer__explore .footer__menu-list .menu__list-item a:hover {
  color: #DCBE4A;
  padding-left: 22px;
}
.footer .container .footer__content .footer__explore .footer__menu-list .menu__list-item a:hover:after {
  background-color: #DCBE4A;
}
.footer .container .footer__content .footer__contact {
  width: 25%;
  padding: 0 12px;
}
.footer .container .footer__content .footer__contact .footer__title {
  position: relative;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  padding-bottom: 20px;
  line-height: 1.4;
}
.footer .container .footer__content .footer__contact .footer__title:before {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 90px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.15);
}
.footer .container .footer__content .footer__contact .footer__title:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #DCBE4A;
}
.footer .container .footer__content .footer__contact .footer__contact-list .contact__list-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
}
.footer .container .footer__content .footer__contact .footer__contact-list .contact__list-item:hover svg {
  color: #DCBE4A;
}
.footer .container .footer__content .footer__contact .footer__contact-list .contact__list-item:hover a {
  color: #DCBE4A;
}
.footer .container .footer__content .footer__contact .footer__contact-list .contact__list-item svg {
  position: absolute;
  top: 4px;
  left: 0;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}
.footer .container .footer__content .footer__contact .footer__contact-list .contact__list-item h6 {
  color: #fff;
  font-weight: 500;
  margin: 0 0 5px;
  line-height: 1.4;
  font-size: 16px;
}
.footer .container .footer__content .footer__contact .footer__contact-list .contact__list-item a {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  transition: 0.3s;
}
.footer .footer__copyright {
  padding: 18px 10px;
  text-align: center;
  margin: 0;
  color: #fff;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.footer .footer__copyright svg {
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.footer .footer__copyright a {
  color: #DCBE4A;
  font-weight: 500;
}
.footer .footer__copyright a:hover {
  text-decoration: underline;
}

/****** Keyframes ******/
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes ripple {
  70% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
/****** Responsive ******/
@media screen and (max-width: 1399px) {
  .header .container .header__logo {
    padding-left: 50px;
  }
  .main .main__intro .container .intro__content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .main .main__intro .container .intro__content .intro__content-box {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (max-width: 1199px) {
  .main .main__intro .container .intro__content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .main .main__intro .container .intro__content .intro__content-box {
    width: calc((100% - 40px) / 2);
  }
}
@media screen and (max-width: 991px) {
  .header .container .header__logo {
    padding-left: 0;
    width: auto;
  }
  .header .container .header__menu {
    right: 0;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    z-index: 9999999;
    margin-left: 0;
    background-color: #fff;
    padding-top: 110px;
    transform: translateX(100%);
    transition: all 0.3s ease;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  }
  .header .container .header__menu .menu__btn {
    display: block;
    margin-top: 15.5px;
    position: relative;
    min-width: calc(100% - 40px);
    text-align: center;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
  }
  .header .container .header__menu .menu__btn:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
  }
  .header .container .header__menu .menu__btn:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 0;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(-90deg, #A8DC51 0%, #4CA754 99.88%);
  }
  .header .container .header__menu .menu__btn:hover:after {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }
  .header .container .header__menu a {
    color: #000;
    font-size: 16px;
  }
  .header .container .header__menu .header__menu-items {
    margin: 0;
    text-align: center;
    line-height: 50px;
  }
  .header .container .header__menu .header__menu-items .header__submenu {
    width: 100%;
    z-index: 1;
    left: 0;
    background: #fff;
  }
  .header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .submenu__items-content:hover:before {
    opacity: 0;
    visibility: hidden;
  }
  .header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .header__submenu2 {
    width: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    top: 50px;
  }
  .header .container .header__menu .header__menu-items .header__submenu .header__submenu-items .header__submenu2 .header__submenu2-items .submenu2__items-content:hover:before {
    opacity: 0;
    visibility: hidden;
  }
  .header .container .header__menu.show__menu {
    top: 0;
    right: 80%;
    width: 80%;
    height: 100vh;
    transition: all 0.3s ease;
    opacity: 1;
    z-index: 9999999;
  }
  .header .container .header__menu .active {
    transform: translateX(0);
  }
  .header .container .header__right {
    width: auto;
    margin-left: auto;
  }
  .header .container .header__right .menu__bars {
    background: linear-gradient(90deg, #A8DC51 0%, #4CA754 99.88%);
    margin-left: 14px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    right: 0;
    z-index: 99999999;
  }
  .header .container .header__right .menu__bars svg {
    color: #fff;
  }
  .header .container .header__right .menu__bars:hover {
    cursor: pointer;
  }
  .header .container .header__right .header__cart {
    margin-right: 16px;
  }
  .header .container .header__right .header__btn {
    display: none;
  }
  .header .container .header__right .search-area {
    right: 100px;
  }
  .main .main__dispensary .container .wrap__dispensary {
    flex-direction: column;
  }
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-left {
    width: 100%;
  }
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img {
    margin-bottom: 30px;
  }
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-right {
    width: 100%;
  }
  .main .main__performance .container .wrap__performance {
    flex-direction: column-reverse;
  }
  .main .main__performance .container .wrap__performance .main__performance-left {
    margin-top: 25px;
    width: 100%;
  }
  .main .main__performance .container .wrap__performance .main__performance-right {
    width: 100%;
  }
  .main .main__counter .main__counter-bg {
    height: 55%;
  }
  .main .main__recetional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main .main__recetional .container {
    flex-direction: column;
  }
  .main .main__recetional .container .main__recetional-left {
    width: 100%;
  }
  .main .main__recetional .container .main__recetional-right {
    width: 100%;
    padding: 30px 0 0 0;
  }
  .footer .container .footer__content {
    flex-wrap: wrap;
  }
  .footer .container .footer__content .footer__item {
    width: 50%;
  }
  .footer .container .footer__content .footer__widget {
    padding: 0;
  }
  .footer .container .footer__content .footer__links {
    padding: 0;
    padding-left: 20px;
  }
  .footer .container .footer__content .footer__explore {
    padding: 0;
  }
  .footer .container .footer__content .footer__contact {
    padding: 0;
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
  h6 {
    font-size: 14px;
  }
  .subtitle {
    font-size: 14px;
  }
  .header .container .header__logo img {
    max-width: 120px;
  }
  .header .container .header__right .header__cart {
    margin-right: 10px;
    margin-left: 20px;
  }
  .header .container .header__right .header__cart span {
    top: 16px;
  }
  .header .container .header__right .search-area {
    right: 0;
  }
  .header .container .header__right .search-area.open {
    top: 70px;
  }
  .main .main__dispensary {
    padding: 50px 0;
  }
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img .dispensary__shape {
    left: 45%;
    width: 65%;
  }
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img .dispensary__shape img {
    max-width: 100%;
  }
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img img {
    max-width: 300px;
  }
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img .discount__price {
    top: 30px;
    right: 20px;
    font-size: 16px;
    width: 80px;
    height: 80px;
  }
  .main .main__intro {
    padding-bottom: 25px;
  }
  .main .main__intro .container .intro__content {
    justify-content: center;
    flex-wrap: wrap;
  }
  .main .main__intro .container .intro__content .intro__content-box {
    width: 100%;
    margin: 15px 0;
  }
  .main .main__intro .container .intro__content .intro__content-box .count__num {
    font-size: 60px;
  }
  .main .main__performance {
    padding-bottom: 50px;
  }
  .main .main__counter {
    padding: 50px 0;
  }
  .main .main__counter .container .counter__wrap {
    padding-bottom: 25px;
    flex-wrap: wrap;
  }
  .main .main__counter .container .counter__wrap .counter__item {
    width: 50%;
  }
  .main .main__counter .container .counter__wrap .counter__item .counter__text .counter__num {
    font-size: 40px;
  }
  .main .main__counter .container .counter__wrap .counter__item .counter__text p {
    padding: 0 10px;
    font-size: 14px;
  }
  .main .main__counter .container .video__wrap {
    height: 380px;
  }
  .main .main__team {
    padding-bottom: 25px;
  }
  .main .main__team .container .team__title {
    margin-bottom: 25px;
  }
  .main .main__team .container .team__slider .owl-nav button {
    width: 40px;
    height: 40px;
  }
  .main .main__team .container .team__slider .owl-nav button svg {
    font-size: 14px;
  }
  .main .main__team .container .team__slider .owl-nav .owl-prev {
    top: auto;
    left: auto;
    margin-right: 8px;
    transform: translateY(0);
    position: relative;
  }
  .main .main__team .container .team__slider .owl-nav .owl-next {
    top: auto;
    right: auto;
    margin-left: 8px;
    transform: translateY(0);
    position: relative;
  }
  .main .main__testimonials {
    padding: 50px 0;
  }
  .main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap .box__info h3 {
    font-size: 20px;
  }
  .main .main__testimonials .container .testimonials__content .testimonials__box .testimonials__box-wrap .box__icon svg {
    font-size: 34px;
  }
  .footer h3 {
    font-size: 20px;
  }
  .footer .container .footer__content {
    padding-bottom: 25px;
    padding-top: 50px;
  }
}
@media screen and (max-width: 575px) {
  .header .container .header__right .search-area {
    max-width: 280px;
  }
  .main .main__team .container .team__title {
    text-align: center;
  }
  .main .main__testimonials .testimonials__title {
    text-align: center;
  }
  .footer .container .footer__content .footer__item {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 419px) {
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-left .dispensary__wrap-img img {
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .header .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 32px;
  }
  .main .main__dispensary {
    padding: 70px 0;
  }
  .main .main__intro {
    padding-bottom: 45px;
  }
  .main .main__performance {
    padding-bottom: 70px;
  }
  .main .main__counter {
    padding: 70px 0;
  }
  .main .main__counter .container .counter__wrap {
    padding-bottom: 45px;
  }
  .main .main__counter .container .counter__wrap .counter__item .counter__text .counter__num {
    font-size: 48px;
  }
  .main .main__counter .container .counter__wrap .counter__item .counter__text p {
    padding: 0 5px;
    font-size: 15px;
  }
  .main .main__counter .container .video__wrap {
    height: 450px;
  }
  .main .main__testimonials {
    padding: 70px 0;
  }
  .main .main__team {
    padding-bottom: 45px;
  }
  .main .main__recetional {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .footer .container .footer__content {
    padding-bottom: 45px;
    padding-top: 70px;
  }
  .footer .container .footer__content .footer__widget .footer__logo-txt {
    padding-right: 42px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .header .container {
    max-width: 960px;
  }
  .header .container a {
    font-weight: 500;
    transition: 0.4s;
    position: relative;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  h2 {
    font-size: 35px;
  }
  .main .main__counter .container .counter__wrap .counter__item .counter__text p {
    padding: 0 25px;
  }
  .main .main__counter .container .video__wrap {
    height: 632px;
  }
  .header .container .header__menu a {
    font-size: 14px;
  }
  .header .container .header__menu .header__menu-items {
    margin-right: 20px;
  }
  .header .container .header__logo img {
    margin: 22px auto;
  }
  .header .container .header__right .header__btn {
    padding: 9px 20px 9px;
    font-size: 14px;
    margin-top: 21px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .header .container {
    max-width: 1140px;
  }
  .main .main__performance .container .wrap__performance .main__performance-left .performance__txt {
    padding-right: 25px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-right {
    margin-left: 20px;
  }
  .main .main__dispensary .container .wrap__dispensary .main__dispensary-right .dispensary__subtxt, .main .main__dispensary .container .wrap__dispensary .main__dispensary-right .dispensary__txt {
    max-width: 95%;
  }
  .main .main__counter .container .counter__wrap .counter__item .counter__text p {
    padding: 0 35px;
  }
}
@media screen and (min-width: 1400px) {
  h3 {
    font-size: 24px;
  }
  .container {
    max-width: 1320px;
  }
  .header .container {
    max-width: 1320px;
  }
  .header .container a {
    font-size: 17px;
  }
  .footer .container .footer__content .footer__widget .footer__logo-txt {
    padding-right: 40px;
  }
}
@media screen and (min-width: 1600px) {
  h2 {
    font-size: 42px;
  }
  .header .container {
    max-width: 1520px;
  }
  .main .main__banner .container {
    max-width: 1520px;
  }
}/*# sourceMappingURL=about.css.map */